* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
   background-repeat: no-repeat;
   background-size: 245%;;
}

.memory-game {
  width: 730px;
  height: 520px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(20% - 10px);
  height: calc(21% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
div#memory_board{
	background:linear-gradient(to bottom, #FF5F6D 0%, #ffc371 100%);
	border:#999 1px solid;
	width:800px;
	height:1225px;
	padding:24px;
	margin:0px auto;
	position: relative;
	top:150px;
}

